<div class="navbar">
  <div class="container">
    <a class="brand" href="/"><span>The Hybrid Group</span></a>
    <ul class="nav">
      <%= nav_link_to 'Why CLAs?', page_path('why_cla') %>
      <% if signed_in? %>
        <%= nav_link_to 'My agreements and signatures', agreements_path %>
      <% end %>
    </ul>
  </div>
</div>
