.agreements-index {
  .header {
    @include fill-parent();
    @include row(table);
    margin-bottom: em(15);

    h1 {
      display: inline-block;
      margin-right: em(20);
    }

    a {
      @include button-base();
      @include btn-color(#FFF, #495461, #495461);
      float: right;
      margin-top: em(20);

      .fa {
        margin-right: em(5);
        font-size: em(18);
        vertical-align: middle;
      }
    }
  }

  .created, .signed, .pending {
    @include row(table);
    margin-bottom: em(25);
  }

  .action {
    @include button-base();
    @include btn-color(#FFF, #495461, #495461);
    @include button-size(5px, 10px, 0.85em, 1.5, 3px);
    margin-left: em(10);
    margin-bottom: em(5);
  }
}
