.agreements {
  .header {
    @include row(table);
    margin-bottom: em(15);
  }

  .agreement-text {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }

  h3 {
    margin-bottom: em(15);
  }
}
