.agreement-form {
  margin-bottom: em(25);

  input[type=text], textarea, .chosen-choices {
    @extend %form-input;
  }

  .form-block {
    @include fill-parent();
    @include row(table);
    margin-bottom: em(15);

    label {
      @include span-columns(3);
      text-align: right;
      vertical-align: top;
      padding-right: em(15);
      padding-top: em(7);
    }

    .controls {
      @include span-columns(5);
    }
  }

  .help-block, .formError {
    display: block;
    margin-top: em(5);
  }

  .formError {
    color: $danger-color;
  }

  .help-block {
    color: #999;
  }

  .error {
    input, textarea {
      border-color: $danger-border;
      background-color: $danger-background;
    }
  }

  .actions {
    text-align: center;
  }

  button {
    @include button-base();
    @include btn-color(#FFF, #495461, #495461);
    @include button-size(15px, 18px, 18px, 18px, 5px);
  }
}
