.alert {
  width: 100%;
  padding: em(15);
  margin-bottom: em(20);
  border: 1px solid transparent;
  border-radius: 4px;

  h4 {
    margin-top: 0;
    color: inherit;
    display: inline-block;
  }

  & > p,
  & > ul {
    margin-bottom: 0;
  }

  &.alert-danger {
    color: $danger-color;
    background-color: $danger-background;
    border-color: $danger-border;
  }

  &.alert-success {
    color: $success-color;
    background-color: $success-background;
    border-color: $success-border;
  }

  .close {
    float: right;
    font-size: em(21);
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    position: relative;
    top: 2px;
    right: 2px;
    color: inherit;
  }

  &.flash {
    margin-top: em(15);
  }
}
