.env-var-list {
	width: em(564);
  margin: auto;
  background: #f5f5f5;
  border: 1px solid #efefef;
  margin-bottom: em(20);
  padding: em(32) em(25) em(10) em(25);

  .table thead tr th {
    border-bottom: 0;
    padding-bottom: em(8);
  }

  .form-control {
    padding: em(8) em(10);
  }

  .options {
    text-align: center;
  }

  .action-save {
    @extend %button;
    @include btn-color(#FFF, #009ece, #009ece);
    width: em(100);
  }
}

.hidden-vars {
  display: none;
}
