.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.metrics.circle-chart {
  text {
    text-anchor: middle;
    font-size: 60px;
    font-family: $font-primary;
    font-weight: 300;
    stroke: #333;
    fill: #333;
  }
}

.metrics.line-chart {
  .message {
    text-anchor: middle;
    font-size: 30px;
    font-family: $font-primary;
    font-weight: 300;
  }
}
