.navbar {
  background: $topnav-background-color;
  height: em(50);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1030;
  margin-bottom: 0;

  .brand {
    display: inline-block;
    margin-top: em(10);
    background: transparent image-url("icon.png") no-repeat top left;
    display: inline-block;
    width: em(189);
    height: em(29);
    span {
      display: none;
    }
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;

    li {
      margin-top: em(10);
      display: inline-block;
      a {
        color: #fff;
        text-shadow: none;
      }
    }
  }
}
