.setup-thing {
  h1 {
    background: image-url("header-setup-bullet.png") no-repeat top left;
    min-height: em(18);
    padding-left: em(20);
  }

  .instructions {
    margin-left: em(40);

    .login-code {
      margin-bottom: em(20);
    }

    .main {
      font-size: em(17);
      margin-bottom: em(25);
      margin-top: 0;
    }

    ul {
      list-style-image: image-url("bullet.png");
      padding-left: em(20);
      color: #666;

      li {
        margin-bottom: em(10);
      }

      pre {
        margin-top: em(10);
        margin-bottom: em(20);
      }
    }

    h3 {
      font-size: em(21);
      font-weight: bold;
    }

    .env-var-list {
      margin: em(38) 0 em(34) 0;
    }

    .waiting {
      background: image-url("connection.gif") no-repeat top left;
      margin-top: em(25);
      min-height: em(25);
      padding-left: em(30);
      padding-top: em(5);
    }
  }

  .loading {
    i {
      font-style: normal;
      opacity: 0;
      -webkit-animation: dot 1.3s infinite;
      -webkit-animation-delay: 0s;
      -moz-animation: dot 1.3s infinite;
      -moz-animation-delay: 0s;
      -o-animation: dot 1.3s infinite;
      -o-animation-delay: 0s;
      animation: dot 1.3s infinite;
      animation-delay: 0s;
    }

    i+i {
      opacity: 0;
      -webkit-animation: dot 1.3s infinite;
      -webkit-animation-delay: 0.2s;
      -moz-animation: dot 1.3s infinite;
      -moz-animation-delay: 0.2s;
      -o-animation: dot 1.3s infinite;
      -o-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
    }

    i+i+i {
      opacity: 0;
      -webkit-animation: dot 1.3s infinite;
      -webkit-animation-delay: 0.3s;
      -moz-animation: dot 1.3s infinite;
      -moz-animation-delay: 0.3s;
      -o-animation: dot 1.3s infinite;
      -o-animation-delay: 0.3s;
      animation: dot 1.3s infinite;
      animation-delay: 0.3s;
    }
  }
}
