.slider {
  .bx-wrapper {
    box-shadow: none;
    border: 0;
  }

  .slider-caption {
    min-height: em(90);
    width: em(940);
    margin: 0 auto em(30) auto;
    background: #333;
    padding: 15px;
    color: #fff;

    h4 {
      font-size: em(20);
      line-height: em(22);
      font-weight: bold;
      margin: 0;
      color: #fff;
    }

    p {
      margin: 0;
      font-size: em(18);
    }
  }
}
