.thing-options {
  font-size: em(16);
  margin-top: em(15);

  td {
    border-bottom: 1px solid $color-light-gray;
    min-width: 14.28%;
    text-align: center;
    padding: em(8) !important;
  }

  .fa {
    margin-right: em(5);
  }

  a {
    color: #666;
    &:hover, &:focus {
      text-decoration: none;
      color: #009ece;
    }

    &.disabled {
      color: #ddd;
      pointer-events: none;
      cursor: not-allowed;
      &:hover {
        color: #ddd;
      }
    }
  }
}
