<%
  steps = [
    'When new pull request is marked as needing a CLA signature',
    'Sign in with GitHub',
    'Fill up the needed fields',
    'Sign the agreement',
    'Done! The pull request is automatically marked ready for merge.'
  ]
%>
<div id="how-it-works" class="slider">
  <h2>How does it work?  Just a few easy steps:</h2>
  <ul class="bxslider">
    <% steps.each_with_index do |step, index| %>
    <li><%= image_tag "how-it-works/#{ index + 1}.jpg", :data =>  { :caption => "<h4>Step #{index + 1}</h4> <p>#{step}</p>"} %></li>
    <% end %>
  </ul>
</div>
